<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enxiety Chatbot</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='doraemon.webp') }}">
</head>
<body>
    <div class="header">
        <button onclick="window.location.href='/'" class="home-link">Trang chủ</button>
        <div class="logo-container">
            <span class="how-to-use">Nhấn vô tui để xem hướng dẫn</span>
            <img src="https://static.wixstatic.com/media/d31d8a_802d1ad0b20d443f8676087856dbef5d~mv2.png" alt="Logo" class="logo" onclick="toggleInstructions()">
        </div>    
    </div>
    <div class="content">
        <h2>Tạo câu hỏi cho môn học "Quản lý dự án"</h2>
        <div id="mode-selection">
            <button onclick="setMode('Gemini')" id="gemini-btn">Chế độ Gemini</button>
            <button onclick="setMode('Claude')" id="claude-btn">Chế độ Claude</button>
            <button onclick="setMode('ChatGPT')" id="chatgpt-btn">Chế độ ChatGPT</button>
        </div>
        <div id="chat-container"></div>
        <input type="text" id="user-input" placeholder="Type your message here...">
        <button id="send-button" onclick="sendMessage()">Send</button>
    </div>
    <div id="instructionBox" class="instruction-box">
        <span class="close-btn" onclick="closeInstructions()">&times;</span>
        <h3>How to use Enxiety Chatbot</h3>
        <p><b>With "Search by Topic"</b> <br>You can use type 'topics' to see the list of topics or 'search: [topic's number]: [keyword]' to search for papers with topic or 'search: all: [keyword]' to search for papers with all topics.</p>
        <p><b>With "Search by Gap"</b> <br><b>Step 1.</b> You can type 'gap: [paragraph]' to see the list of gap keywords of the paragraph you provided.
        <br><b>Step 2.</b> Finding the papers that can address the gap keyword you choose. You can use the gap keyword on Step 1. to type 'focus: [gap keyword]' to see the papers that can address that problem.</p>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>